*{ 
    margin: 0; 
    padding: 0; 
}
 .calc{
    margin: 50px auto;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    background: #000;
    color: #fff ;
    font-family: Arial;
    padding: 18px;
    box-shadow: 4px 4px 4px #4f4f4f;
}
.calc.screen{
    height: 125px;
    padding: 10px;
    display: grid;
    justify-items: end;
    align-items: end;
}
.calc.screen h3{
    text-align: right;
    font-size: 4rem;
    margin: 0;
}
.buttons{
    justify-items: center;
}
.btn{
    width: 70px;
    height: 70px;
    margin-top: 15px;
    background: #333;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 1.5rem;
    cursor: pointer;
    user-select: none;
}
.btn.zero{
    grid-area: zero;
    width: 47%;
    border-radius: 34px;
}
.btn:hover{
    filter: brightness(120%);
}
.btn:active{
    filter: brightness(90%);
}
.btn.bg-grey{
    margin-top: 50p;
    background: rgb(254, 252, 252);
}
.btn.bg-orange{
    background: rgb(213, 116, 11);
}